.card {
    margin-left: 200px;
        .card-text {
                text-transform: uppercase;
                color: black;
                margin-bottom: 10px;
                background-color: orange;
                border-radius: 10px;
        }
}