.content{
        .contact-wrapper {
                box-shadow: 0 0 20px 0 rgb(255, 255, 255);
        }
        .contact-wrapper > * {
                padding: 2em;
                border-radius: 10px;
        }
}
.contact-form {
    background: black;
    color: orange;
    margin-left: 5px;
        form {
            display: grid;
            grid-template-columns: 5fr 5fr;
            .block {
                grid-column: 1/3;
            }
            textarea {
                width: 100%;
                padding: 7em;
                border: none;
                background: none;
                outline: 0;
                color: #fff;
                border-bottom: 1px solid #d63031;
            button {
                border: 0;
                text-transform: uppercase;
                padding: 1em;
            :hover .contacto-form form input:focus {
                color: #fff;
                transition: background-color 1 ease-out;
                outline: 0;
                }
                }   
                }
            }
        }

.contact-info {
    background: white;
    article {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        text-decoration: underline;   
        }    
    li {
            text-align: center;
            color: black;
            margin: 2rem 0 1rem 0;
            font-size: 15px;
            font-weight: bold;
            
        }
        p {
            text-align: center;
        }
    }