body {
    background-color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navegador {
    font-size: 30px;
    padding: 5px 5px 5px 5px;
    background-color: orange;
    border-radius: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.logo{
    width: 400px;
    height: 200px;
    border-radius: 20px;
}
.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.btn-group {
    width: 33%;
    height: 200px;
    margin-top: 100px;
    margin-bottom: 200px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;        
    .dropdown-menu {
            background-color: orange;
            color: black;
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }   
        .dropdown-toggle {  
            background-color: orange;
            color: black;
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 25px;
            font-weight: bold;
        }
        .dropdown-item {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: bold;
        }
}