h1 {
    background-color: orange;
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    height: auto;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 40px 40px 40px 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    }
h2 {
    background-color: orange;
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    width: 100%;
    height: auto;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 20px 20px 20px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}